@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  @include flexCenter();
  width: 100%;
  height: 100vh;
  direction: ltr;
  overflow: hidden !important;
  background: $bgColorDark;

  

  .loader {
    @include flexCenter();
    width: 320px;
    
    padding: 1rem;
    img {
      width: 3rem;
      animation: logoImg 1.2s linear forwards, bounce 2s 1.5s linear infinite;
      z-index: 2;
    }

    .textLogo {
      padding-left: 0.3rem;
      margin: 0;
      animation: textLogo 0.8s 1s linear forwards;
      visibility: hidden;
      h1 {
        margin-top: 1rem;
        font-size: 1.7rem;
        line-height: 0;
        font-weight: 800;
        padding-bottom: 0.2rem;
      }
    }
  }
}

@keyframes textLogo {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
    visibility: visible;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes logoImg {
  0% {
    transform: translateX(-100%) rotate(60deg);
  }
  20% {
    transform: translateX(-80%) rotate(120deg);
  }
  40% {
    transform: translateX(-60%) rotate(180deg);
  }
  60% {
    transform: translateX(-40%) rotate(240deg);
  }
  80% {
    transform: translateX(-20%) rotate(300deg);
  }
  100% {
    transform: translateX(0%) rotate(360deg);
  }
}
