*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: VazirEn;
  src: url("../fonts/Vazir.ttf");
}

@font-face {
  font-family: VazirFa;
  src: url("../fonts/Vazir-FD-WOL.ttf");
}

@font-face {
  font-family: Linearicons;
  src: url("../fonts/icons/Linearicons.eot"), url("../fonts/icons/Linearicons.svg"), url("../fonts/icons/Linearicons.ttf"), url("../fonts/icons/Linearicons.woff");
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1440px) {
  .vertical-divider::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
    background-color: #bdc0b5;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 80vh !important;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 60vh !important;
  }
  header .carousel-indicators {
    top: 70% !important;
  }
  .card-icon {
    width: 5rem !important;
    height: 5rem !important;
  }
  .information svg {
    font-size: 1.3rem !important;
  }
  .cards {
    top: 10rem !important;
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 425px) {
  .textLogo span {
    font-size: 1rem;
  }
  .textLogo small {
    letter-spacing: 0 !important;
    margin-top: 5px !important;
  }
  header {
    height: 50vh !important;
  }
  header .carousel-item {
    height: 50vh !important;
  }
  header .carousel-indicators {
    top: 90% !important;
  }
  header .carousel-caption {
    padding: 0 1rem !important;
  }
  header .carousel-caption h3 {
    font-size: 1.1rem !important;
  }
  header .carousel-caption h1 {
    font-size: 1.3rem !important;
  }
  header .carousel-caption p {
    font-size: 0.9rem !important;
  }
  .card-icon {
    width: 5rem !important;
    height: 5rem !important;
  }
  .information svg {
    font-size: 1.3rem !important;
  }
  .cards {
    top: 10rem !important;
    margin-bottom: 10rem;
  }
}

#offcanvasRight {
  text-align: right !important;
  background: #212529 !important;
}

#offcanvasRight .fa-arrow-right {
  font-size: 1.5rem;
  border: none;
  font-weight: 100 !important;
}

#offcanvasRight .fa-arrow-right:hover {
  color: #feb800;
}

.offcanvas-end {
  top: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  right: 0;
  overflow: hidden !important;
}

nav {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-center !important;
      -ms-flex-align: flex-center !important;
          align-items: flex-center !important;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  background: #312f30 !important;
  position: -webkit-sticky !important;
  position: sticky !important;
}

nav .fa-bars {
  font-size: 1.5rem;
}

nav .navbar-nav {
  direction: rtl;
}

nav .navbar-nav .nav-item {
  min-width: 6rem;
}

nav .navbar-nav .nav-item .nav-link {
  overflow: hidden;
  position: relative;
  margin: 0 0.3rem;
  z-index: 1;
  padding: 0.5rem;
}

nav .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #feb800;
  z-index: -1;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

nav .navbar-nav .nav-item .nav-link:hover::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

nav .navbar-nav .nav-item .nav-link.active {
  border-top: 2px solid #feb800;
}

nav .navbar-nav .nav-item .dropdown-menu {
  font-family: VazirFa !important;
  background: #312f30 !important;
  top: 5rem;
}

nav .navbar-nav .nav-item .dropdown-menu .show {
  -webkit-transition: 0.5s linear !important;
  transition: 0.5s linear !important;
}

nav .navbar-nav .nav-item .dropdown-menu a {
  color: #fff !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 1rem;
}

nav .navbar-nav .nav-item .dropdown-menu a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #feb800;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  -webkit-transform: translateX(98%);
          transform: translateX(98%);
  z-index: -1;
}

nav .navbar-nav .nav-item .dropdown-menu a:hover {
  background: transparent;
}

nav .navbar-nav .nav-item .dropdown-menu a:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  direction: ltr;
  overflow: hidden !important;
  background: #312f30;
}

.loading .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  padding: 1rem;
}

.loading .loader img {
  width: 3rem;
  -webkit-animation: logoImg 1.2s linear forwards, bounce 2s 1.5s linear infinite;
          animation: logoImg 1.2s linear forwards, bounce 2s 1.5s linear infinite;
  z-index: 2;
}

.loading .loader .textLogo {
  padding-left: 0.3rem;
  margin: 0;
  -webkit-animation: textLogo 0.8s 1s linear forwards;
          animation: textLogo 0.8s 1s linear forwards;
  visibility: hidden;
}

.loading .loader .textLogo h1 {
  margin-top: 1rem;
  font-size: 1.7rem;
  line-height: 0;
  font-weight: 800;
  padding-bottom: 0.2rem;
}

@-webkit-keyframes textLogo {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    visibility: visible;
  }
}

@keyframes textLogo {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    visibility: visible;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  30% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  30% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes logoImg {
  0% {
    -webkit-transform: translateX(-100%) rotate(60deg);
            transform: translateX(-100%) rotate(60deg);
  }
  20% {
    -webkit-transform: translateX(-80%) rotate(120deg);
            transform: translateX(-80%) rotate(120deg);
  }
  40% {
    -webkit-transform: translateX(-60%) rotate(180deg);
            transform: translateX(-60%) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(-40%) rotate(240deg);
            transform: translateX(-40%) rotate(240deg);
  }
  80% {
    -webkit-transform: translateX(-20%) rotate(300deg);
            transform: translateX(-20%) rotate(300deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(360deg);
            transform: translateX(0%) rotate(360deg);
  }
}

@keyframes logoImg {
  0% {
    -webkit-transform: translateX(-100%) rotate(60deg);
            transform: translateX(-100%) rotate(60deg);
  }
  20% {
    -webkit-transform: translateX(-80%) rotate(120deg);
            transform: translateX(-80%) rotate(120deg);
  }
  40% {
    -webkit-transform: translateX(-60%) rotate(180deg);
            transform: translateX(-60%) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(-40%) rotate(240deg);
            transform: translateX(-40%) rotate(240deg);
  }
  80% {
    -webkit-transform: translateX(-20%) rotate(300deg);
            transform: translateX(-20%) rotate(300deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(360deg);
            transform: translateX(0%) rotate(360deg);
  }
}

#scrollTop {
  position: fixed;
  padding: 0 !important;
  top: 90%;
  right: 1%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  visibility: hidden;
  color: #feb800;
  font-size: 2.5rem;
  font-weight: 900;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#scrollTop:hover .icon {
  color: gold;
}

.footer {
  position: relative;
  bottom: 0%;
  right: 0;
  width: 100%;
}

.footer .information {
  border: none !important;
  background: url("../images/divider/divider-bottom.svg") no-repeat bottom center;
  background-origin: border-box;
  overflow: hidden;
  background-position: 100% 101%;
}

.footer .information .container {
  padding-bottom: 80px !important;
}

.footer .information .card {
  background: transparent;
  border: none;
  padding: 0.5rem 0.5rem;
}

.footer .information .card h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer .information .card h4 i {
  padding-left: 0.6rem;
}

.footer .information .card .display-6 {
  font-size: 2rem !important;
  color: #f26522 !important;
}

.footer .information .card .social {
  font-size: 1.5rem;
  padding: 0.1rem;
  margin: 0 0.3rem;
  color: #312f30;
}

.footer .information .card .social:hover {
  color: #feb800;
}

.footer .information .card .phone {
  font-family: VazirFa;
  direction: ltr;
}

.footer footer {
  background: #312f30;
  direction: ltr;
  font-size: 1rem;
}

.footer footer #footerLogo {
  width: 2.5rem;
}

.footer footer .copyRight {
  font-size: 1rem;
}

header {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

header .mainSlider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

header .mainSlider #sliderTop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header .mainSlider #sliderTop .carousel-indicators {
  position: absolute;
  top: 60%;
}

header .mainSlider #sliderTop .carousel-indicators .dotSlider {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

header .mainSlider #sliderTop .carousel-indicators .dotSlider.active {
  background-color: #feb800 !important;
}

header .mainSlider #sliderTop .carousel-inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

header .mainSlider #sliderTop .carousel-inner .carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

header .mainSlider #sliderTop .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

header .mainSlider #sliderTop .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  bottom: -40%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: sliderCap 5s 0.8s;
          animation: sliderCap 5s 0.8s;
}

@-webkit-keyframes sliderCap {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes sliderCap {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.ourValues {
  width: 100%;
  background: #312f30;
}

.ourValues .cards {
  width: 100%;
  position: relative;
}

.ourValues .cards .card {
  position: relative;
  top: -10rem;
  cursor: pointer;
  z-index: 2;
}

.ourValues .cards .card .card-body {
  position: relative;
  background: #dee0d5;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.ourValues .cards .card .card-body::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #feb800;
  z-index: -1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.ourValues .cards .card:hover {
  color: #fff;
}

.ourValues .cards .card:hover .card-body::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ourValues .cards .context {
  position: absolute;
  width: 100%;
  bottom: 0%;
  right: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourValues .cards .context hr {
  width: 75%;
}

.ourValues .contentValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: content !important;
      flex-basis: content !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourValues .contentValues .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: transparent;
  color: #fff;
  border: none;
}

.ourValues .contentValues .card .card-text {
  font-weight: 100 !important;
}

.ourValues .contentValues .card .card-icon .icon {
  color: #312f30;
  font-size: 4rem;
}

.ourValues .contentValues .card:hover .card-icon {
  background: #feb800;
}

.ourValues .contentValues .card:hover .card-icon .icon {
  color: #fff;
}

.ourValues .contentValues .card:hover .card-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 2px solid #feb800;
  border-radius: 50%;
}

.ourValues .contentValues .card:hover .card-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border: 2px solid #feb800;
  border-radius: 50%;
}

.ourValues .contentValues .card .card-icon {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #dde1dc;
}

.ourValues .contentValues .card .card-icon::after {
  -webkit-transition: all 0.3s 0.3s ease-in-out;
  transition: all 0.3s 0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border: 2px solid #dde1dc;
  border-radius: 50%;
}

.ourValues .contentValues .card .card-icon::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 2px solid #dde1dc;
  border-radius: 50%;
}

.ourValues .contentValues .card .card-icon svg {
  font-size: 3em;
  color: #312f30;
}

.offer {
  border: none !important;
  background: url("../images/divider/divider-top-black.svg") no-repeat;
  background-origin: border-box;
  overflow: hidden;
  background-position: 100% -1%;
  padding: 3rem 0;
}

.offer .offerTitle {
  font-weight: 900 !important;
}

.offer .card {
  background-color: transparent;
  border: none;
}

.laws {
  background: url("../images/law/law-background.jpg") no-repeat center bottom/cover;
  position: relative;
  z-index: 1;
}

.laws::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.laws .card {
  background: transparent;
  border: none;
}

.laws .card .card-title:hover {
  color: #feb800;
}

.laws svg {
  font-size: 4rem;
  font-weight: 100;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 900 !important;
}

.aboutUs a {
  position: relative;
  font-weight: 100 !important;
}

.aboutUs a:hover {
  color: #f26522 !important;
}

.aboutUs .commitmentToQuality .subContent a {
  font-weight: 700 !important;
  line-height: 2.2rem !important;
}

.aboutUs .commitmentToQuality .subContent a:hover {
  color: #feb800;
}

.aboutUs .commitmentToQuality .list .listItem {
  line-height: 2rem !important;
  position: relative;
  padding: 0.6rem;
}

.aboutUs .commitmentToQuality .list .listItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: -8%;
  width: 100%;
  height: 100%;
  border-bottom: 1px dashed;
}

.aboutUs .commitmentToQuality .list .listItem .bi-caret-left-fill {
  color: #feb800;
  font-size: 0.6rem;
}

.aboutUs .coreValues .values {
  font-family: VazirFa;
}

.aboutUs .coreValues .values .numberValue {
  width: 3.5rem;
  height: 3.5rem;
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
  padding: 2rem !important;
  color: #fff;
  background: #f26522;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 0.5rem;
}

.aboutUs .coreValues .values .contentValue {
  width: 100%;
}

.aboutUs .coreValues .values .contentValue .titleContent {
  font-weight: 700 !important;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.aboutUs .safeWork {
  border: none !important;
  background: #312f30;
  color: #fff;
}

.aboutUs .safeWork .safeWorkTitle {
  font-weight: bolder !important;
}

.aboutUs .safeWork .card {
  background-color: transparent;
  border: none;
}

.aboutUs .managingRisk {
  border: none !important;
  color: #312f30;
  padding: 4rem 0;
  border-bottom: 0.5rem double #312f30 !important;
}

.aboutUs .managingRisk .managingRiskTitle {
  font-weight: 900 !important;
}

.aboutUs .managingRisk .card {
  background-color: transparent;
  border: none;
}

.aboutUs .managingRisk .card h5 {
  font-weight: 500 !important;
}

.aboutUs .managingRisk .card p {
  font-weight: 100 !important;
}

.aboutUs .managingRisk .card a:hover {
  color: #feb800;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #ccc;
}

.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  direction: ltr;
  font-family: VazirFa !important;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.projects {
  width: 100%;
  min-height: 100vh;
}

.projects .portfolio-menu {
  text-align: center;
}

.projects .portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.projects .portfolio-item .item {
  /*width:303px;*/
  float: left !important;
  margin-bottom: 10px;
}

.projects .projectTitle {
  font-weight: bolder !important;
}

.contact .contactTitle {
  text-align: center;
}

.contact .contactTitle h1 {
  font-weight: bolder !important;
}

.contact form .btn.btnReset {
  color: #df4040 !important;
}

.contact form .btn.btnSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-image: radial-gradient(circle 976px at 51.2% 51%, #209d10 0%, #209d10 0%, #209d10 17.3%, #209d10 58.8%, #209d10 71.4%, #209d10 100.2%, #bbbbbb 100.2%);
  width: 7rem !important;
  color: #fff;
}

.contact form .btn.btnSubmit:hover {
  background: #00b894;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6) !important;
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6) !important;
}

.contact form label.error {
  color: orangered !important;
}

.contact form input[type="email"]::-webkit-input-placeholder {
  text-align: right !important;
}

.contact form input[type="email"]:-ms-input-placeholder {
  text-align: right !important;
}

.contact form input[type="email"]::-ms-input-placeholder {
  text-align: right !important;
}

.contact form input[type="email"]::placeholder {
  text-align: right !important;
}

.contact iframe {
  width: 100%;
  height: 100%;
}

body {
  font-family: VazirEn !important;
  background-color: #dde1dc;
}

body a,
body a:visited,
body a:focus {
  text-decoration: none !important;
  color: black;
}

body .card {
  margin: 1rem;
}

body .card .btn {
  background: #f26522;
  color: #fff;
  font-weight: 100 !important;
  width: 5rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

body .card .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #312f30;
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

body .card .btn:hover::after {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

body .card .card-title {
  font-size: 1.2rem;
  font-weight: 700 !important;
  cursor: pointer;
}

body .card .card-text {
  font-size: 1rem;
  font-weight: 100 !important;
  font-style: normal;
  overflow: hidden;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

body .logo #logo {
  width: 4rem;
  height: 4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .logo .textLogo span {
  color: #feb800;
}

body .logo .textLogo small,
body .logo .textLogo span {
  letter-spacing: 0.1rem;
  line-height: 1em;
}

body .logo img {
  width: 3rem !important;
}

body button,
body input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}
/*# sourceMappingURL=mainStyle.css.map */