*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: VazirEn;
  src: url("../fonts/Vazir.ttf");
}
@font-face {
  font-family: VazirFa;
  src: url("../fonts/Vazir-FD-WOL.ttf");
}
@font-face {
  font-family: Linearicons;
  src: url("../fonts/icons/Linearicons.eot"),
    url("../fonts/icons/Linearicons.svg"), url("../fonts/icons/Linearicons.ttf"),
    url("../fonts/icons/Linearicons.woff");
  font-weight: 400;
  font-style: normal;
}

// imports
@import "./variables/colors";
@import "./variables/mediaQuery";

$bgColorDark: #312f30;

$bgBody: #dde1dc;

$bgColorCard: #dee0d5;

$primaryColor: #feb800;

$secondaryColor: rgba(0, 0, 0, 0.4);

$colorBtn: #f26522;

$colorWhite: #fff;

// imports sharedFolder
@import "./shared/shared";

// page
@import "./pages/home";
@import "./pages/aboutUs";
@import "./pages/projects";
@import "./pages/contact";

body {
  font-family: VazirEn !important;
  background-color: $bgBody;

  a,
  a:visited,
  a:focus {
    text-decoration: none !important;
    color: black;
  }
  .main {
    // display: none;
  }

  
  .card {
    margin: 1rem;
    .btn {
      background: $colorBtn;
      color: #fff;
      font-weight: 100 !important;
      width: 5rem;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $bgColorDark;
        transform: translate(100%, 100%);
        transition: 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover {
        &::after {
          transform: translate(0%, 0%);
        }
      }
    }
    .card-title {
      font-size: 1.2rem;
      font-weight: 700 !important;
      cursor: pointer;
    }
    .card-text {
      font-size: 1rem;
      font-weight: 100 !important;
      font-style: normal;
      overflow: hidden;
      max-width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }

  .logo {
    #logo {
      width: 4rem;
      height: 4rem;
      transition: all 0.3s ease-in-out;
    }
    .textLogo {
      span {
        color: $primaryColor;
      }
      small,
      span {
        letter-spacing: 0.1rem;
        line-height: 1em;
      }
    }
    img {
      width: 3rem !important;
    }
  }

  button,
  input {
    box-shadow: none !important;
    outline: none !important;
  }
}
