*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: VazirEn;
  src: url("../fonts/Vazir.ttf");
}

@font-face {
  font-family: VazirFa;
  src: url("../fonts/Vazir-FD-WOL.ttf");
}

@font-face {
  font-family: Linearicons;
  src: url("../fonts/icons/Linearicons.eot"), url("../fonts/icons/Linearicons.svg"), url("../fonts/icons/Linearicons.ttf"), url("../fonts/icons/Linearicons.woff");
}

@media (min-width: 1440px) {
  .vertical-divider::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
    background-color: #bdc0b5;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 80vh !important;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 60vh !important;
  }
  header .carousel-indicators {
    top: 70% !important;
  }
  .card-icon {
    width: 5rem !important;
    height: 5rem !important;
  }
  .information svg {
    font-size: 1.3rem !important;
  }
  .cards {
    top: 10rem !important;
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 425px) {
  .textLogo span {
    font-size: 1rem;
  }
  .textLogo small {
    letter-spacing: 0 !important;
    margin-top: 5px !important;
  }
  header {
    height: 50vh !important;
  }
  header .carousel-item {
    height: 50vh !important;
  }
  header .carousel-indicators {
    top: 90% !important;
  }
  header .carousel-caption {
    padding: 0 1rem !important;
  }
  header .carousel-caption h3 {
    font-size: 1.1rem !important;
  }
  header .carousel-caption h1 {
    font-size: 1.3rem !important;
  }
  header .carousel-caption p {
    font-size: 0.9rem !important;
  }
  .card-icon {
    width: 5rem !important;
    height: 5rem !important;
  }
  .information svg {
    font-size: 1.3rem !important;
  }
  .cards {
    top: 10rem !important;
    margin-bottom: 10rem;
  }
}

#offcanvasRight {
  text-align: right !important;
  background: #212529 !important;
}

#offcanvasRight .fa-arrow-right {
  font-size: 1.5rem;
  border: none;
  font-weight: 100 !important;
}

#offcanvasRight .fa-arrow-right:hover {
  color: #feb800;
}

.offcanvas-end {
  top: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  right: 0;
  overflow: hidden !important;
}

nav {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-center !important;
      -ms-flex-align: flex-center !important;
          align-items: flex-center !important;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  background: #312F30 !important;
  position: -webkit-sticky !important;
  position: sticky !important;
}

nav .fa-bars {
  font-size: 1.5rem;
}

nav .navbar-nav {
  direction: rtl;
}

nav .navbar-nav .nav-item {
  min-width: 6rem;
}

nav .navbar-nav .nav-item .nav-link {
  overflow: hidden;
  position: relative;
  margin: 0 0.3rem;
  z-index: 1;
  padding: 0.5rem;
}

nav .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #feb800;
  z-index: -1;
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

nav .navbar-nav .nav-item .nav-link:hover::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

nav .navbar-nav .nav-item .nav-link.active {
  border-top: 2px solid #feb800;
}

nav .navbar-nav .nav-item .dropdown-menu {
  font-family: VazirFa !important;
  background: #312F30 !important;
  top: 5rem;
}

nav .navbar-nav .nav-item .dropdown-menu .show {
  -webkit-transition: 0.5s linear !important;
  transition: 0.5s linear !important;
}

nav .navbar-nav .nav-item .dropdown-menu a {
  color: #fff !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 1rem;
}

nav .navbar-nav .nav-item .dropdown-menu a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #feb800;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  -webkit-transform: translateX(98%);
          transform: translateX(98%);
  z-index: -1;
}

nav .navbar-nav .nav-item .dropdown-menu a:hover {
  background: transparent;
}

nav .navbar-nav .nav-item .dropdown-menu a:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  direction: ltr;
  overflow: hidden !important;
  background: #312F30;
}

.loading .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  padding: 1rem;
}

.loading .loader img {
  width: 3rem;
  -webkit-animation: logoImg 1.2s linear forwards, bounce 2s 1.5s linear infinite;
          animation: logoImg 1.2s linear forwards, bounce 2s 1.5s linear infinite;
  z-index: 2;
}

.loading .loader .textLogo {
  padding-left: 0.3rem;
  margin: 0;
  -webkit-animation: textLogo 0.8s 1s linear forwards;
          animation: textLogo 0.8s 1s linear forwards;
  visibility: hidden;
}

.loading .loader .textLogo h1 {
  margin-top: 1rem;
  font-size: 1.7rem;
  line-height: 0;
  font-weight: 800;
  padding-bottom: 0.2rem;
}

@-webkit-keyframes textLogo {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    visibility: visible;
  }
}

@keyframes textLogo {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    visibility: visible;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  30% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  30% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes logoImg {
  0% {
    -webkit-transform: translateX(-100%) rotate(60deg);
            transform: translateX(-100%) rotate(60deg);
  }
  20% {
    -webkit-transform: translateX(-80%) rotate(120deg);
            transform: translateX(-80%) rotate(120deg);
  }
  40% {
    -webkit-transform: translateX(-60%) rotate(180deg);
            transform: translateX(-60%) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(-40%) rotate(240deg);
            transform: translateX(-40%) rotate(240deg);
  }
  80% {
    -webkit-transform: translateX(-20%) rotate(300deg);
            transform: translateX(-20%) rotate(300deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(360deg);
            transform: translateX(0%) rotate(360deg);
  }
}

@keyframes logoImg {
  0% {
    -webkit-transform: translateX(-100%) rotate(60deg);
            transform: translateX(-100%) rotate(60deg);
  }
  20% {
    -webkit-transform: translateX(-80%) rotate(120deg);
            transform: translateX(-80%) rotate(120deg);
  }
  40% {
    -webkit-transform: translateX(-60%) rotate(180deg);
            transform: translateX(-60%) rotate(180deg);
  }
  60% {
    -webkit-transform: translateX(-40%) rotate(240deg);
            transform: translateX(-40%) rotate(240deg);
  }
  80% {
    -webkit-transform: translateX(-20%) rotate(300deg);
            transform: translateX(-20%) rotate(300deg);
  }
  100% {
    -webkit-transform: translateX(0%) rotate(360deg);
            transform: translateX(0%) rotate(360deg);
  }
}

#scrollTop {
  position: fixed;
  padding: 0 !important;
  top: 90%;
  right: 1%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  visibility: hidden;
  color: #feb800;
  font-size: 2.5rem;
  font-weight: 900;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#scrollTop:hover .icon {
  color: gold;
}

.footer {
  position: relative;
  bottom: 0%;
  right: 0;
  width: 100%;
}

.footer .information {
  border: none !important;
  background: url("../images/divider/divider-bottom.svg") no-repeat bottom center;
  background-origin: border-box;
  overflow: hidden;
  background-position: 100% 101%;
}

.footer .information .container {
  padding-bottom: 80px !important;
}

.footer .information .card {
  background: transparent;
  border: none;
  padding: 0.5rem 0.5rem;
}

.footer .information .card h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer .information .card h4 i {
  padding-left: 0.6rem;
}

.footer .information .card .display-6 {
  font-size: 2rem !important;
  color: #F26522 !important;
}

.footer .information .card .social {
  font-size: 1.5rem;
  padding: 0.1rem;
  margin: 0 0.3rem;
  color: #312F30;
}

.footer .information .card .social:hover {
  color: #feb800;
}

.footer .information .card .phone {
  font-family: VazirFa;
  direction: ltr;
}

.footer footer {
  background: #312F30;
  direction: ltr;
  font-size: 1rem;
}

.footer footer #footerLogo {
  width: 2.5rem;
}

.footer footer .copyRight {
  font-size: 1rem;
}

header {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

header .mainSlider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

header .mainSlider #sliderTop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header .mainSlider #sliderTop .carousel-indicators {
  position: absolute;
  top: 60%;
}

header .mainSlider #sliderTop .carousel-indicators .dotSlider {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

header .mainSlider #sliderTop .carousel-indicators .dotSlider.active {
  background-color: #feb800 !important;
}

header .mainSlider #sliderTop .carousel-inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

header .mainSlider #sliderTop .carousel-inner .carousel-item {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

header .mainSlider #sliderTop .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

header .mainSlider #sliderTop .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  bottom: -40%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-animation: sliderCap 5s 0.8s;
          animation: sliderCap 5s 0.8s;
}

@-webkit-keyframes sliderCap {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes sliderCap {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.ourValues {
  width: 100%;
  background: #312F30;
}

.ourValues .cards {
  width: 100%;
  position: relative;
}

.ourValues .cards .card {
  position: relative;
  top: -10rem;
  cursor: pointer;
  z-index: 2;
}

.ourValues .cards .card .card-body {
  position: relative;
  background: #DEE0D5;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.ourValues .cards .card .card-body::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #feb800;
  z-index: -1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.ourValues .cards .card:hover {
  color: #fff;
}

.ourValues .cards .card:hover .card-body::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ourValues .cards .context {
  position: absolute;
  width: 100%;
  bottom: 0%;
  right: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourValues .cards .context hr {
  width: 75%;
}

.ourValues .contentValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: content !important;
      flex-basis: content !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourValues .contentValues .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: transparent;
  color: #fff;
  border: none;
}

.ourValues .contentValues .card .card-text {
  font-weight: 100 !important;
}

.ourValues .contentValues .card .card-icon .icon {
  color: #312F30;
  font-size: 4rem;
}

.ourValues .contentValues .card:hover .card-icon {
  background: #feb800;
}

.ourValues .contentValues .card:hover .card-icon .icon {
  color: #fff;
}

.ourValues .contentValues .card:hover .card-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 2px solid #feb800;
  border-radius: 50%;
}

.ourValues .contentValues .card:hover .card-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border: 2px solid #feb800;
  border-radius: 50%;
}

.ourValues .contentValues .card .card-icon {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: #DDE1DC;
}

.ourValues .contentValues .card .card-icon::after {
  -webkit-transition: all 0.3s 0.3s ease-in-out;
  transition: all 0.3s 0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  border: 2px solid #DDE1DC;
  border-radius: 50%;
}

.ourValues .contentValues .card .card-icon::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 2px solid #DDE1DC;
  border-radius: 50%;
}

.ourValues .contentValues .card .card-icon svg {
  font-size: 3em;
  color: #312F30;
}

.offer {
  border: none !important;
  background: url("../images/divider/divider-top-black.svg") no-repeat;
  background-origin: border-box;
  overflow: hidden;
  background-position: 100% -1%;
  padding: 3rem 0;
}

.offer .offerTitle {
  font-weight: 900 !important;
}

.offer .card {
  background-color: transparent;
  border: none;
}

.laws {
  background: url("../images/law/law-background.jpg") no-repeat center bottom/cover;
  position: relative;
  z-index: 1;
}

.laws::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.laws .card {
  background: transparent;
  border: none;
}

.laws .card .card-title:hover {
  color: #feb800;
}

.laws svg {
  font-size: 4rem;
  font-weight: 100;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 900 !important;
}

.aboutUs .commitmentToQuality .subContent a {
  font-weight: 700 !important;
  line-height: 2.2rem !important;
}

.aboutUs .commitmentToQuality .subContent a:hover {
  color: #feb800;
}

.aboutUs .commitmentToQuality .list .listItem {
  line-height: 2rem !important;
  position: relative;
  padding: 0.6rem;
}

.aboutUs .commitmentToQuality .list .listItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: -8%;
  width: 100%;
  height: 100%;
  border-bottom: 1px dashed;
}

.aboutUs .commitmentToQuality .list .listItem a {
  position: relative;
  font-weight: 100 !important;
}

.aboutUs .commitmentToQuality .list .listItem a:hover {
  color: #feb800;
}

.aboutUs .commitmentToQuality .list .listItem .bi-caret-left-fill {
  color: #feb800;
  font-size: 0.6rem;
}

.aboutUs .coreValues .values {
  font-family: VazirFa;
}

.aboutUs .coreValues .values .numberValue {
  width: 3.5rem;
  height: 3.5rem;
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
  padding: 2rem !important;
  color: #fff;
  background: #F26522;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-left: 0.5rem;
}

.aboutUs .coreValues .values .contentValue {
  width: 100%;
}

.aboutUs .coreValues .values .contentValue .titleContent {
  font-weight: 700 !important;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.aboutUs .safeWork {
  border: none !important;
  background: url("../../images/divider/divider-top-white.png") no-repeat top center, #312F30;
  color: #fff;
  background-origin: border-box;
  overflow: hidden;
  background-position: 100% -1%;
}

.aboutUs .safeWork .safeWorkTitle {
  font-weight: bolder !important;
}

.aboutUs .safeWork .card {
  background-color: transparent;
  border: none;
}

.aboutUs .managingRisk {
  border: none !important;
  background: url("../../images/divider/divider-top-black.svg") no-repeat top center;
  color: #312F30;
  background-origin: border-box;
  overflow: hidden;
  padding: 4rem 0;
  border-bottom: 0.5rem double #312F30 !important;
}

.aboutUs .managingRisk .managingRiskTitle {
  font-weight: 900 !important;
}

.aboutUs .managingRisk .card {
  background-color: transparent;
  border: none;
}

.aboutUs .managingRisk .card h5 {
  font-weight: 500 !important;
}

.aboutUs .managingRisk .card p {
  font-weight: 100 !important;
}

.aboutUs .managingRisk .card a:hover {
  color: #feb800;
}

body {
  font-family: VazirEn !important;
  background-color: #DDE1DC;
}

body a,
body a:visited,
body a:focus {
  text-decoration: none !important;
  color: black;
}

body .card {
  margin: 1rem;
}

body .card .btn {
  background: #F26522;
  color: #fff;
  font-weight: 100 !important;
  width: 5rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

body .card .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #312F30;
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

body .card .btn:hover::after {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

body .card .card-title {
  font-size: 1.2rem;
  font-weight: 700 !important;
  cursor: pointer;
}

body .card .card-text {
  font-size: 1rem;
  font-weight: 100 !important;
  font-style: normal;
  overflow: hidden;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

body .logo #logo {
  width: 4rem;
  height: 4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .logo .textLogo span {
  color: #feb800;
}

body .logo .textLogo small,
body .logo .textLogo span {
  letter-spacing: 0.1rem;
  line-height: 1em;
}

body .logo img {
  width: 3rem !important;
}

body button,
body input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}
/*# sourceMappingURL=mainStyle.css.map */